<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8" />
    <title>Handle User Input Demo</title>
    <link rel="stylesheet" th:href="@{/css/userInputFormStyle.css}" />
    <meta name="Description" content="processing user input" />
</head>

<body>

<p th:text="|Welcome ${student.firstName} ${student.lastName} from ${student.country} to the Spring MVC World, your favourite language is ${student.progLanguage}|" class="funny"></p>


</body>
</html>